@import "styles/main.scss";
$input-height: 84px;

.input {
  border: none;
  padding-left: $spacing-8;
  height: $input-height;
  background: #ffffff;
  @include shadow;
  @include secondary-text;
  &:focus {
    outline: solid $main-green $line-weight;
    border-radius: 0;
    @include typo-text-regular-1;
  };
  &:disabled {
    opacity: $hover-opacity;
  };
}
