@import "styles/main.scss";

.button {
  cursor: pointer;
  width: 138px;
  height: 54px;
  background-color: $main-green;
  font-family: "Eudoxus Sans";
  font-style: normal;
  @include typo-text-regular-2;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  &:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  };
  &:hover {
    opacity: $hover-opacity;
  };
  &:disabled {
    background-color: #d9d9d9;
  };
}