@import "styles/main.scss";
$card-width: 370px;
$visible-lines: 2;
$card-image-height: 530px;
$card-image-width: 350px;
$card-image-margine: 40px;
$card-title-height: 100px;

.card {
  padding: $spacing-6;
  width: $card-width;
  cursor: pointer;
  &:hover {
    @include shadow;
  };
  &_title {
    margin-top: $spacing-5;
    height: $card-title-height;
    display: flex;
    font-style: normal;
    @include typo-header-3;
    text-overflow: ellipsis;
    line-clamp: $visible-lines;
    overflow: hidden;
    box-orient: vertical;
  };
  &_content_wrapper {
    margin-left: auto;
    width: $card-width;
    display: flex;
    flex-direction: column;
  };
  &_image {
    object-fit: contain;
    width: $card-image-width;
    height: $card-image-height;
    margin-top: $card-image-margine;
  };
  &_category {
    margin-top: $spacing-8;
    font-style: normal;
    @include secondary-text;
  };
  &_price {
    padding-top: $spacing-6;
    @include typo-text-regular-3;
  };
};